<div id="<%= dom_id candidate_nomination %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">County:</strong>
    <%= candidate_nomination.county_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Party:</strong>
    <%= candidate_nomination.party_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= candidate_nomination.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Kind:</strong>
    <%= candidate_nomination.kind %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Position:</strong>
    <%= candidate_nomination.position %>
  </p>

</div>
