<html lang="ro">
  <head>
    <title><%= content_for?(:title) ? yield(:title) + " | VoteazaParlament.ro" : "VoteazaParlament.ro - Informații Parlament" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : 'Informații complete despre candidații la alegerile parlamentare din 1 Decembrie 2024' %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= favicon_link_tag 'logo.png', rel: 'icon', sizes: '32x32' %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"%>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload", as: "style" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", as: "style" %>
    <%= stylesheet_link_tag "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css",
                            integrity: "sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=",
                            crossorigin: "" %>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <%= javascript_importmap_tags %>
    <style>
        #map {
            height: 600px;
        }
    </style>
  </head>

  <body class="min-h-screen flex flex-col">
  <%= render "shared/header" %>
  <main class="flex-grow">
    <%= yield %>
  </main>
  <%= render "shared/footer" %>
  <%= render "shared/cookie_banner" %>
  </body>
</html>
